body {
  background-color: #fefefe;
  color: #000000;
}

.App {
  text-align: center;
  margin: 0 ;
}
.App-list {
  text-align: center;
  margin: 30px ;
}
.row{
  margin: 0px 80px;
}
.col {
  margin: 0px 50px ; 
}
.btn {
margin-right: 20px;
}

/* Navbar */

.navbar {
  width: 100%;
  background-color: rgb(59, 99, 174);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 65px;
}

.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 75px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
}

.nav-btn {
  background-color: rgb(78, 174, 204);
  border: none;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nav-log {
  margin: 1100px; 
  border: none;
  background: none;  
  padding: 0;  
  cursor: pointer;
}
.material-icons{
  width: 50px;
}
/* Pagina About */
.about-container {
  display: flex;              
  flex-direction: column;     
  justify-content: center;    
  align-items: center;        
  height: 100vh;              
  text-align: center;         
}
.about-text {
  font-size: 1.8rem;          
  line-height: 1.5;           
  margin-bottom: 1.5rem;      
}
.about-link {
  font-size: 1.5rem;          
  color: #0073b1;             
  text-decoration: none;      
  margin: 0.5rem 0;           
}

.about-link:hover {
  text-decoration: underline; 
  color: #005c8e;             
}

.taskBg {
  background-color: #f8f6f6;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #6480e6;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #0091ff;
}

.taskBg .iconsWrap span:hover {
  color: rgb(34, 82, 136);
}

.mr-20 {
  margin-right: 20px;
}

footer {
  text-align: center;
  color: rgb(37, 34, 191);
  width: 100%;
  margin-top: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  
}

